core/src/main/resources/wsdl/mos/mos.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:tdmx:api:v1.0:sp:mos-definition" xmlns:tx="urn:tdmx:api:v1.0:sp:tx" xmlns:mos="urn:tdmx:api:v1.0:sp:mos" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://schemas.xmlsoap.org/soap/encoding/" xmlns:common="urn:tdmx:api:v1.0:sp:common" xmlns:msg="urn:tdmx:api:v1.0:sp:msg" targetNamespace="urn:tdmx:api:v1.0:sp:mos-definition" name="MOS">
	<wsdl:documentation>
		Bla Bla...
	</wsdl:documentation>
	<wsdl:types>
		<xsd:schema targetNamespace="urn:tdmx:api:v1.0:sp:common" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:common="urn:tdmx:api:v1.0:sp:common">
			<xsd:include schemaLocation="../common.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="urn:tdmx:api:v1.0:sp:tx" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:tx="urn:tdmx:api:v1.0:sp:tx">
			<xsd:include schemaLocation="../tx.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="urn:tdmx:api:v1.0:sp:msg" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:msg="urn:tdmx:api:v1.0:sp:msg">
			<xsd:include schemaLocation="../msg.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="urn:tdmx:api:v1.0:sp:mos" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:mos="urn:tdmx:api:v1.0:sp:mos">
			<xsd:include schemaLocation="mos.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getAddressRequest">
		<wsdl:part name="parameters" element="mos:getAddress"/>
	</wsdl:message>
	<wsdl:message name="getAddressResponse">
		<wsdl:part name="parameters" element="mos:getAddressResponse"/>
	</wsdl:message>
	<wsdl:message name="listChannelRequest">
		<wsdl:part name="parameters" element="mos:listChannel"/>
	</wsdl:message>
	<wsdl:message name="listChannelResponse">
		<wsdl:part name="parameters" element="mos:listChannelResponse"/>
	</wsdl:message>
	<wsdl:message name="getChannelRequest">
		<wsdl:part name="parameters" element="mos:getChannel"/>
	</wsdl:message>
	<wsdl:message name="getChannelResponse">
		<wsdl:part name="parameters" element="mos:getChannelResponse"/>
	</wsdl:message>
	<wsdl:message name="receiptRequest">
		<wsdl:part name="parameters" element="mos:receipt"/>
	</wsdl:message>
	<wsdl:message name="receiptResponse">
		<wsdl:part name="parameters" element="mos:receiptResponse"/>
	</wsdl:message>
	<wsdl:message name="submitRequest">
		<wsdl:part name="parameters" element="mos:submit"/>
	</wsdl:message>
	<wsdl:message name="submitResponse">
		<wsdl:part name="parameters" element="mos:submitResponse"/>
	</wsdl:message>
	<wsdl:message name="uploadRequest">
		<wsdl:part name="parameters" element="mos:upload"/>
	</wsdl:message>
	<wsdl:message name="uploadResponse">
		<wsdl:part name="parameters" element="mos:uploadResponse"/>
	</wsdl:message>
	<wsdl:message name="prepareRequest">
		<wsdl:part name="parameters" element="tx:prepare"/>
	</wsdl:message>
	<wsdl:message name="prepareResponse">
		<wsdl:part name="parameters" element="tx:prepareResponse"/>
	</wsdl:message>
	<wsdl:message name="commitRequest">
		<wsdl:part name="parameters" element="tx:commit"/>
	</wsdl:message>
	<wsdl:message name="commitResponse">
		<wsdl:part name="parameters" element="tx:commitResponse"/>
	</wsdl:message>
	<wsdl:message name="rollbackRequest">
		<wsdl:part name="parameters" element="tx:rollback"/>
	</wsdl:message>
	<wsdl:message name="rollbackResponse">
		<wsdl:part name="parameters" element="tx:rollbackResponse"/>
	</wsdl:message>
	<wsdl:message name="recoverRequest">
		<wsdl:part name="parameters" element="tx:recover"/>
	</wsdl:message>
	<wsdl:message name="recoverResponse">
		<wsdl:part name="parameters" element="tx:recoverResponse"/>
	</wsdl:message>
	<wsdl:message name="forgetRequest">
		<wsdl:part name="parameters" element="tx:forget"/>
	</wsdl:message>
	<wsdl:message name="forgetResponse">
		<wsdl:part name="parameters" element="tx:forgetResponse"/>
	</wsdl:message>
	<wsdl:portType name="MOS">
		<wsdl:documentation>
				Bla Bla
			</wsdl:documentation>
		<wsdl:operation name="getAddress">
			<wsdl:documentation>
				Bla Bla
			</wsdl:documentation>
			<wsdl:input message="tns:getAddressRequest"/>
			<wsdl:output message="tns:getAddressResponse"/>
		</wsdl:operation>
		<wsdl:operation name="listChannel">
			<wsdl:documentation>
				Bla Bla
			</wsdl:documentation>
			<wsdl:input message="tns:listChannelRequest"/>
			<wsdl:output message="tns:listChannelResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getChannel">
			<wsdl:documentation>
				Bla Bla
			</wsdl:documentation>
			<wsdl:input message="tns:getChannelRequest"/>
			<wsdl:output message="tns:getChannelResponse"/>
		</wsdl:operation>
		<wsdl:operation name="receipt">
			<wsdl:documentation>
				Bla Bla
			</wsdl:documentation>
			<wsdl:input message="tns:receiptRequest"/>
			<wsdl:output message="tns:receiptResponse"/>
		</wsdl:operation>
		<wsdl:operation name="submit">
			<wsdl:documentation>
				Bla Bla
			</wsdl:documentation>
			<wsdl:input message="tns:submitRequest"/>
			<wsdl:output message="tns:submitResponse"/>
		</wsdl:operation>
		<wsdl:operation name="upload">
			<wsdl:documentation>
				Bla Bla
			</wsdl:documentation>
			<wsdl:input message="tns:uploadRequest"/>
			<wsdl:output message="tns:uploadResponse"/>
		</wsdl:operation>
		<wsdl:operation name="prepare">
			<wsdl:documentation>
				Bla Bla
			</wsdl:documentation>
			<wsdl:input message="tns:prepareRequest"/>
			<wsdl:output message="tns:prepareResponse"/>
		</wsdl:operation>
		<wsdl:operation name="commit">
			<wsdl:documentation>
				Bla Bla
			</wsdl:documentation>
			<wsdl:input message="tns:commitRequest"/>
			<wsdl:output message="tns:commitResponse"/>
		</wsdl:operation>
		<wsdl:operation name="rollback">
			<wsdl:documentation>
				Bla Bla
			</wsdl:documentation>
			<wsdl:input message="tns:rollbackRequest"/>
			<wsdl:output message="tns:rollbackResponse"/>
		</wsdl:operation>
		<wsdl:operation name="recover">
			<wsdl:documentation>
				Bla Bla
			</wsdl:documentation>
			<wsdl:input message="tns:recoverRequest"/>
			<wsdl:output message="tns:recoverResponse"/>
		</wsdl:operation>
		<wsdl:operation name="forget">
			<wsdl:documentation>
				Bla Bla
			</wsdl:documentation>
			<wsdl:input message="tns:forgetRequest"/>
			<wsdl:output message="tns:forgetResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MOSBinding" type="tns:MOS">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getAddress">
			<soap:operation soapAction="urn:tdmx:api:v1.0:sp:mos-definition/getAddress"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="listChannel">
			<soap:operation soapAction="urn:tdmx:api:v1.0:sp:mos-definition/listChannel"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getChannel">
			<soap:operation soapAction="urn:tdmx:api:v1.0:sp:mos-definition/getChannel"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="receipt">
			<soap:operation soapAction="urn:tdmx:api:v1.0:sp:mos-definition/receipt"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="submit">
			<soap:operation soapAction="urn:tdmx:api:v1.0:sp:mos-definition/submit"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="upload">
			<soap:operation soapAction="urn:tdmx:api:v1.0:sp:mos-definition/upload"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="prepare">
			<soap:operation soapAction="urn:tdmx:api:v1.0:sp:mos-definition/prepare"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="commit">
			<soap:operation soapAction="urn:tdmx:api:v1.0:sp:mos-definition/commit"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="rollback">
			<soap:operation soapAction="urn:tdmx:api:v1.0:sp:mos-definition/rollback"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="recover">
			<soap:operation soapAction="urn:tdmx:api:v1.0:sp:mos-definition/recover"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="forget">
			<soap:operation soapAction="urn:tdmx:api:v1.0:sp:mos-definition/forget"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MessageOriginatingService">
		<wsdl:port name="MOS" binding="tns:MOSBinding">
			<soap:address location="http://serviceprovider.com/api/v1.0/sp/mos"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
